:root {
  --cor-roxa: #6278f7;
  --cor-verde: #95ffd4;
  --cinza-claro: #f2f2f2;
  --cinza-digita: #afafaf;
  --fundo-programacao: #d9f7e9;
  --fundo-front: #e8f8ff;
  --fundo-data: #f0f8e2;
  --fundo-devops: #fde7e8;
  --fundo-ux: #fae9f5;
  --fundo-mobile: #fff5d9;
  --fundo-gestao: #ffeedf;
  --programacao: #57c278;
  --front: #82cffa;
  --data: #a6d157;
  --devops: #e06b69;
  --ux: #db6ebf;
  --mobile: #ffba05;
  --gestao: #ff8a29;
  --fonte-titulo: "Prata", serif;
  --fonte-corrido: "Montserrat", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
